@import '../../../style/colors.scss';
@import '../../../style/formato.scss';

.contenedor_informe{
    .bloque_informe{
        margin: 0.25em 0 0 5%;
        width: 90%;
        h3{
            text-align: left;
            margin: 1em 0;
        }
        textarea{
            margin: 0;
            width: 100%;
        }
        .pruebas_realizadas{
            margin: 1em 0;
            div{
                border-radius: 0.5em;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s;
            }
        }
        .prueba_seleccionada{
            background-color: $principal-claro;
        }
        .historico_prueba{
            div{
                padding: 0.25em 0.5em;
            }
        }
    }
    .boton{
        margin: 1em 0;
    }
}

