@import '../../style/colors.scss';
@import '../../style/formato.scss';

.contenedor_usuarios{
    margin: 1em 0;
    width: 85%;
    height: 80%;
    background-color: $claro;
    border-radius: 0.25em;
    overflow: scroll;
    .usuario_individual{
        margin: 0.5em 0;
        cursor: pointer;
        text-align: left;
        padding: 0.25em 0.5em;
    }
    .usuario_seleccionado{
        border-radius: 0.5em;
        background-color: $oscuro;
        color: $principal-claro;
    }
}