@import '../../style/colors.scss';
@import '../../style/formato.scss';

.contenedor_nuevo_usuario{
    font-size: 0.9em;
    h2{
        padding: 1em 0;
    }
    .bloque_rellenar{
        background-color: $principal;
        width: 48%;
        border-radius: 0.5em;
        margin-top: 0.5em;
        padding-top: 0.5em;
        h2{
            text-align: left;
            margin-left: 1em;
            padding: 0;
        }
        label{
            margin: 1em 0;
        }
        input{
            width: 95%;
            margin: 0.8em 0;
            padding: 0.4em 0.5em;
            outline: none;
            border: none;
            border-radius: 0.25em;
        }
        input:focus{
            outline: 0.2em solid $oscuro;
        }
    }
    .bloques_historia_clinica{
        width: 100%;
        margin-bottom: 2em;
    }
    /*BLOQUES DE DATOS DE USUARIO*/
    .label_historia_clinica_datos{
        text-align: left;
        width: 15%;
    }
    .input_historia_clinica_datos{
        width: 85%;
    }

    /*BLOQUES DE DATOS SOCIAL*/
    .label_historia_clinica_social{
        text-align: left;
        width: 35%;
    }
    .input_historia_clinica_social{
        width: 65%;
        input{
            width: 95%;
        }
    }
    /*BLOQUES DATOS MEDICOS*/
    .label_datos_medicos{
        text-align: left;
        width: 20%;
    }
    .input_datos_medicos{
        width: 75%;
    }
    .boton:hover{
        background-color: $principal;
    }
}

