@import '../../style/colors.scss';
@import '../../style/formato.scss';

.header{
    background-color: $oscuro;
    color: $principal-claro;
    height: 2.5em;
    width: 100%;
    img{
        width: 2em;
        margin: 0.25em 0 0 1em;
    }
    .enlace_header{
        margin: 0 1.5em;
        cursor: pointer;
        transition: 0.3s;
    }
    .enlace_header:hover{
        color: $claro;
    }
}