@import './colors.scss';

/*CLASES FORMATEADORAS*/

/*BASICAS*/

/*COLUMNAS*/
.flex_columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex_columna_muy_separado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex_columna_izquierda{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/*FILAS*/
.flex_fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex_fila_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flex_fila_mas_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flex_fila_muy_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex_fila_izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: $principal-claro;
    color: $oscuro;
}

/*FORMULARIOS*/
.formulario{
    width: 30em;
    background-color: $principal;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px 1px $oscuro;
    h2{
        margin: 0.5em 0;
        width: calc(80% + 1em);
        text-align: left;
    }
}
.campo_formulario{
    margin-top: 1em;
    width: 85%;
    label{
        text-align: left;
    }
    input{
        width: 90%;
        border-radius: 0.25em;
        padding: 0.75em 1em;
        margin: 0.75em 0;
        border: 0 solid;
        border-radius: 0.4em;
        background-color: $claro;
    }
    input:focus{
        outline: 0.2em solid $principal-claro;
        background-color: $oscuro;
        color: $principal-claro;
    }
}
.boton_formulario{
    width: 7em;
    margin: 3em 0 1em 0;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: $oscuro;
    color: $principal-claro;
    transition: 0.3s;
}
.boton_formulario:hover{
    background-color: $principal-claro;
    color: $oscuro;
}

/*BARRA DE SCROLL*/
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $oscuro;
    border-radius: 20px;
    border: 2px solid $claro;
}