@import './colors.scss';

/*CLASES FORMATEADORAS*/

/*BASICAS*/
.mi_poco{
    margin-left:0.5em;
}
.mi{
    margin-left:1em;
}
.ma{
    margin-top: 1em;
}
.mb{
    margin-bottom: 1em;
}
hr{
    height: 0.1px;
    width: 95%;
    border: 0.1px solid $oscuro;
    background-color: $oscuro;
    margin: 1.5em 0 1em 2.5%;
}
.boton{
    background-color: $oscuro;
    color: $principal-claro;
    padding: 0.25em 0.5em;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 0.3s;
}
.boton:hover{
    background-color: $principal-claro;
    color: $oscuro;
}
.ancho100{
    width: 100%;
}
.ancho50{
    width: 50%;
}
/*COLUMNAS*/
.flex_columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex_columna_arriba{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}
.flex_columna_arriba_derecha{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-start;
}
.flex_columna_muy_separado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex_columna_izquierda{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.flex_columna_arriba_izquierda{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

/*FILAS*/
.flex_fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex_fila_arriba_separado_wrap{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex_fila_arriba_wrap{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.flex_fila_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flex_fila_mas_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flex_fila_muy_separado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex_fila_muy_separado_abajo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.flex_fila_muy_separado_arriba{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.flex_fila_izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.flex_fila_arriba_izquierda{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex_fila_arriba_derecha{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
/*BLOQUES*/
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: $principal-claro;
    color: $oscuro;
}
.contenedor_vista{
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5em 0.5em;
    overflow-y: scroll;
    h2{
        text-align: left;
        margin: 0.5em;
    }
    input{
        margin:0.5em 0;
        padding: 0.5em 0.5em;
        outline: none;
        border: none;
    }
    label{
        margin:0.65em 0;
    }
}
.contenedor_vista_admin{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 0 0 0.5em 0.5em;
    overflow-y: scroll;
    overflow-x: scroll;
    h2{
        text-align: left;
        margin: 0.5em;
    }
}
textarea{
    all:unset;
    text-align: left;
    padding: 0.5em;
    background-color: $claro;
    color: $oscuro;
    width: 90%;
    margin: 1em 0 1em 5%;
    min-height: 7em;
    border-radius: 0.5em;
}
.contenedor_mensaje{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $claro;
    opacity: 0.5;
    z-index: 3;
}
/*FORMULARIOS*/
.formulario{
    width: 30em;
    background-color: $principal;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px 1px $oscuro;
    h2{
        margin: 0.5em 0;
        width: calc(80% + 1em);
        text-align: left;
    }
}
.campo_formulario{
    margin-top: 1em;
    width: 85%;
    label{
        text-align: left;
    }
    input{
        width: 90%;
        border-radius: 0.25em;
        padding: 0.75em 1em;
        margin: 0.75em 0;
        border: 0 solid;
        border-radius: 0.4em;
        background-color: $claro;
    }
    input:focus{
        outline: 0.2em solid $principal-claro;
        background-color: $oscuro;
        color: $principal-claro;
    }
}
.boton_formulario{
    width: 7em;
    margin: 3em 0 1em 0;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: $oscuro;
    color: $principal-claro;
    transition: 0.3s;
}
.boton_formulario:hover{
    background-color: $principal-claro;
    color: $oscuro;
}
/*MENSAJE INFORMATIVO O DE ERROR*/
.mensaje_error{
    width: 100vw;
    position: fixed;
    top: -8em;
    left: 0;
    background-color: rgb(0, 180, 54);
    color: $claro;
    padding: 0.5em 0;
    text-align: center;
    animation: mensaje 4s normal;
}

/*ANIMACIONES*/
@keyframes mensaje {
    0% {
      top: -8em;
    }
    20%{
        top:0;
    }
    75%{
        top:0
    }
    100% {
      top: -8em;
    }
  }
/*BARRAS DE SCROLL*/

/*LISTADO DE USUARIOS*/
.contenedor_usuarios::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor_usuarios::-webkit-scrollbar:vertical {
    width:0.5em;
}

.contenedor_usuarios::-webkit-scrollbar-button:increment,.contenedor_usuarios::-webkit-scrollbar-button {
    display: none;
} 

.contenedor_usuarios::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

.contenedor_usuarios::-webkit-scrollbar-thumb {
    background-color: $oscuro;
    border-radius: 20px;
    border: 2px solid $claro;
}

/*CONTENEDOR DE CADA VISTA*/
.contenedor_vista::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor_vista::-webkit-scrollbar:vertical {
    width:0.5em;
}

.contenedor_vista::-webkit-scrollbar-button:increment,.contenedor_vista::-webkit-scrollbar-button {
    display: none;
} 

.contenedor_vista::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

.contenedor_vista::-webkit-scrollbar-thumb {
    background-color: $claro;
    border-radius: 20px;
    border: 2px solid $principal;
}

/*CONTENEDOR DE CADA VISTA ADMIN*/
.contenedor_vista_admin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor_vista_admin::-webkit-scrollbar:vertical {
    width:0.5em;
}

.contenedor_vista_admin::-webkit-scrollbar-button:increment,.contenedor_vista_admin::-webkit-scrollbar-button {
    display: none;
} 

.contenedor_vista_admin::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

.contenedor_vista_admin::-webkit-scrollbar-thumb {
    background-color: $claro;
    border-radius: 20px;
    border: 2px solid $principal;
}

/*SEGUIMIENTOS*/
.total_seguimientos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.total_seguimientos::-webkit-scrollbar:vertical {
    width:0.5em;
}

.total_seguimientos::-webkit-scrollbar-button:increment,.total_seguimientos::-webkit-scrollbar-button {
    display: none;
} 

.total_seguimientos::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

.total_seguimientos::-webkit-scrollbar-thumb {
    background-color: $principal-claro;
    border-radius: 20px;
    border: 2px solid $principal-claro;
}
/*TEXTAREA*/
textarea::-webkit-scrollbar {
    -webkit-appearance: none;
}

textarea::-webkit-scrollbar:vertical {
    width:0.5em;
}

textarea::-webkit-scrollbar-button:increment,textarea::-webkit-scrollbar-button {
    display: none;
} 

textarea::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: $principal-claro;
    border-radius: 20px;
    border: 2px solid $principal-claro;
}
/*CONTENEDOR DE CREACION DE NUEVO PROFESIONAL*/
.contenedor_nuevo_profesional::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor_nuevo_profesional::-webkit-scrollbar:vertical {
    width:0.5em;
}

.contenedor_nuevo_profesional::-webkit-scrollbar-button:increment,.contenedor_nuevo_profesional::-webkit-scrollbar-button {
    display: none;
} 

.contenedor_nuevo_profesional::-webkit-scrollbar:horizontal {
    height: 0.5em;
}

.contenedor_nuevo_profesional::-webkit-scrollbar-thumb {
    background-color: $principal;
    border-radius: 20px;
    border: 2px solid $principal-claro;
}