@import '../../../style/colors.scss';
@import '../../../style/formato.scss';

/*BLOQUES DE DATOS DE USUARIO*/
.label_historia_clinica_datos{
    text-align: left;
    width: 10%;
}
.input_historia_clinica_datos{
    width: 90%;
    input{
        width: 96%;
        outline: none;
        border: none;
        border-radius: 0.25em;
    }
    input:focus{
        outline: 0.2em solid $oscuro;
    }
    input:read-only:focus{
        outline: 0 solid;
    }
}

/*BLOQUES DE DATOS SOCIAL*/
.label_historia_clinica_social{
    text-align: left;
    width: 25%;
}
.input_historia_clinica_social{
    width: 75%;
    input{
        width: 95%;
        outline: none;
        border: none;
        border-radius: 0.25em;
    }
    input:focus{
        outline: 0.2em solid $oscuro;
    }
    input:read-only:focus{
        outline: 0 solid;
    }
}