@import '../../../style/colors.scss';
@import '../../../style/formato.scss';

.contenedor_vista .datos_medicos_usuario{
    input{
        margin-right: 1em;
        outline: none;
        border: none;
        border-radius: 0.25em;
    }
    input:focus{
        outline: 0.2em solid $oscuro;
    }
    input:read-only:focus{
        outline: 0 solid;
    }
    label{
        margin-right: 0.5em;
    }
}
.bloque_multiples_datos_medicos{
    text-align: left;
    padding: 0.5em;
    background-color: $claro;
    border-radius: 0.25em;
    width: 95%;
    min-height: 10em;
    margin-bottom: 1em;
}
textarea:focus{
    outline: 0.2em solid $oscuro;
}
/*VENTANA EMERGENTE PARA AÑADIR ENFERMEDAD AL USUARIO*/
.ventana_mensaje_datos_medicos{
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $claro;
    z-index: 4;
    border-radius: 0.5em;
    border: 0.1em solid $oscuro;
    padding: 1em;
    max-height: 50vh;
    .listado_datos_medicos{
        background-color: $principal-claro;
        padding: 0.5em;
        width: 100%;
        text-align: left;
        overflow-y:scroll;
        .elemento_individual_datos_medicos{
            cursor: pointer;
            margin: 0.25em 0;
        }
        .añadida{
            transform: scaleY(0);
            max-height: 0px;
            margin: 0;
            padding: 0;
        }
    }
}