@import '../../../style/colors.scss';
@import '../../../style/formato.scss';

.contenedor_vista_individual_admin{
    input{
        background-color: $principal-claro;
    }
    white-space: nowrap;
    .tabla_nombres_columnas{
        margin: 0 4.25em;
    }
    .registros_admin{
        margin: 0 0.5em;
    }
    .registros_sin_scroll{
        margin: 0;
        .icono_registro_individual{
            width: 2.125em;
            margin: 0;
            cursor: pointer;
        }
    }
    .nombre_columna{
        font-size: 0.7em;
        border-bottom: 0.1em solid $oscuro;
        border-top: 0.1em solid $oscuro;
        background-color: $oscuro;
        color: $principal-claro;
        padding: 0 0.25em;
    }
    .icono_registro_individual{
        margin: 0 0.25em;
        width: 3em;
        cursor: pointer;
    }
    .registro_individual{
        font-size: 0.7em;
        border-bottom: 0.1em solid $oscuro;
        background-color: $claro;
        padding: 0 0.25em;
    }
    .pregunta_borrado{
        position: absolute;
        top: 40%;
        left: calc(50vw - 15em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 30em;
        z-index: 4;
    }
    .editar_registro{
        position: absolute;
        top: 30%;
        left: calc(50vw - 25em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 50em;
        z-index: 4;
        h2{
            text-align: center;
        }
    }
    .crear_registro{
        position: absolute;
        left: calc(50vw - 25em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 50em;
        z-index: 4;
        h2{
            text-align: center;
        }
    }
    /*BLOQUES DE DATOS SOCIAL*/
    .label_registro_admin{
        text-align: left;
        width: 30%;
        label{
            margin: 0.45em 0;
        }
    }
    .input_registro_admin{
        width: 70%;
        input{
            border: 0px solid;
            width: 95%;
            padding:0.25em 0.5em;
            margin: 0.5em 0;
            border-radius: 0.25em;
        }
        input:focus{
            outline: 0.2em solid $oscuro;
        }
    }
    .nuevo_registro_boton{
        width: 10em;
        margin-left: 0.5em;
    }
    /*TAMAÑOS DE COLUMNAS DE LISTADOS*/
    .admin_campo_id{
        min-width: 2.5em;
    }
    .admin_campo_nombre{
        min-width: 8em;
    }
    .admin_campo_apellidos{
        min-width: 12em;
    }
    .admin_campo_direccion{
        min-width: 40em;
    }
    .admin_campo_telefono{
        min-width: 13em;
    }
    .admin_campo_fecha{
        min-width: 14em;
    }
    .admin_campo_peso{
        min-width: 3.5em;
    }
    .admin_campo_estatura{
        min-width: 5.5em;
    }
    .admin_campo_pension{
        min-width: 4.5em;
    }
    .admin_campo_persona_contacto{
        min-width: 16em;
    }
    .admin_campo_id_usuario{
        min-width: 6.5em;
    }
    .admin_campo_descripcion{
        min-width: 106em;
    }
    .admin_campo_id_enfermedad{
        min-width: 9em;
    }
    .admin_campo_nombre_enfermedad{
        min-width: 22em;
    }
    .admin_campo_nombre_medicacion{
        min-width: 20em;
    }
    .admin_campo_id_medicacion{
        min-width: 9em;
    }
    .admin_campo_email{
        min-width: 17em;
    }
    .admin_campo_rol{
        min-width: 10em;
    }
    .admin_campo_puntuacion{
        min-width: 20em;
    }
    .admin_campo_id_prueba{
        min-width: 9em;
    }
    .admin_campo_id_profesional{
        min-width: 12em;
    }
    .admin_campo_id_valoracion{
        min-width: 11em;
    }
    .admin_campo_descripcion_prueba{
        min-width: 80em;
    }
    .admin_campo_pregunta{
        min-width: 15em;
    }
    .admin_campo_escala{
        min-width: 7em;
    }
}