@import '../../../style/colors.scss';
@import '../../../style/formato.scss';

.contenedor_vista_individual_admin{
    input{
        background-color: $principal-claro;
    }
    white-space: nowrap;
    .tabla_nombres_columnas{
        margin: 0 4.25em;
    }
    .registros_admin{
        margin: 0 0.5em;
    }
    .registros_sin_scroll{
        margin: 0;
        .icono_registro_individual{
            width: 2.125em;
            margin: 0;
            cursor: pointer;
        }
    }
    .nombre_columna, .nombre_columna_largo{
        min-width: 25em;
        border-bottom: 0.1em solid $oscuro;
        border-top: 0.1em solid $oscuro;
        background-color: $oscuro;
        color: $principal-claro;
    }
    .icono_registro_individual{
        margin: 0 0.25em;
        width: 3em;
        cursor: pointer;
    }
    .registro_individual, .registro_individual_largo{
        min-width: 25em;
        border-bottom: 0.1em solid $oscuro;
        background-color: $claro;
    }
    .nombre_columna_largo, .registro_individual_largo{
        min-width: 45em;
    }
    .pregunta_borrado{
        position: absolute;
        top: 40%;
        left: calc(50vw - 15em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 30em;
        z-index: 4;
    }
    .editar_registro{
        position: absolute;
        top: 30%;
        left: calc(50vw - 25em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 50em;
        z-index: 4;
        h2{
            text-align: center;
        }
    }
    .crear_registro{
        position: absolute;
        left: calc(50vw - 25em);
        background-color: $claro;
        border-radius: 0.5em;
        border: 0.1em solid $oscuro;
        padding: 0.5em 1em;
        width: 50em;
        z-index: 4;
        h2{
            text-align: center;
        }
    }
    /*BLOQUES DE DATOS SOCIAL*/
    .label_registro_admin{
        text-align: left;
        width: 30%;
        label{
            margin: 0.45em 0;
        }
    }
    .input_registro_admin{
        width: 70%;
        input{
            border: 0px solid;
            width: 95%;
            padding:0.25em 0.5em;
            margin: 0.5em 0;
            border-radius: 0.25em;
        }
        input:focus{
            outline: 0.2em solid $oscuro;
        }
    }
    .nuevo_registro_boton{
        width: 10em;
        margin-left: 0.5em;
    }
}